---
interface Props {
  tags: string[];
}

const { tags } = Astro.props;
---

{tags.length > 0 && (
  <div class="tags-list">
    {tags.map(tag => (
      <a href={`/tags/${tag}/`} class="tag">#{tag}</a>
    ))}
  </div>
)}
