---
import Base from '../../layouts/Base.astro';
import PostCard from '../../components/PostCard.astro';
import { getPostsByType } from '../../utils/posts';

const posts = await getPostsByType('link');
---

<Base title="Links">
  <h1 class="page-title">Links</h1>
  <p>Interesting links with commentary.</p>
  <div class="posts-list">
    {posts.map(post => <PostCard post={post} />)}
  </div>
</Base>
